<div>
  <h1>ng-speed-test</h1>

  <p *ngIf="!isTracking && !isChecking && !hasChecked && !hasError">
    Click a button below to test your internet speed.
  </p>

  <p *ngIf="hasError">Something went wrong. Try again.</p>

  <div *ngIf="isChecking || isTracking || (hasChecked && !hasError)">
    Your internet speed is:
    <p *ngFor="let speed of speeds; let i = index">
      ({{ i + 1 }}) {{ speed }} MBPS
    </p>
  </div>

  <label>
    Iterations:
    <input type="number"
           [min]="1"
           [max]="10"
           [(ngModel)]="iterations"
           [disabled]="isChecking || isTracking"/>
  </label>

  <br/>

  <input type="button"
         value="{{ isChecking ? 'Testing' : 'Test' }}"
         (click)="getSpeed()"
         [disabled]="isChecking || isTracking"/>

  <input type="button"
         value="{{ isTracking ? 'Tracking' : 'Track' }}"
         (click)="trackSpeed()"
         [disabled]="isChecking || isTracking"/>
</div>
