<div>
  <h1>ng-speed-test</h1>

  <p *ngIf="!hasChecked && !hasTracked && !hasError">Click a button below to test your internet speed.</p>

  <p *ngIf="hasChecked && !hasError">Your internet speed is {{ speeds[0] }} MBPS</p>

  <p *ngIf="hasError">Something went wrong. Try again.</p>

  <div *ngIf="hasTracked && !hasError">
    Your internet speeds:
    <p *ngFor="let speed of speeds; let i = index">
      ({{ i + 1 }}) {{ speed }} MBPS
    </p>
  </div>

  <input type="button"
         value="{{ isChecking ? 'Testing' : 'Test' }}"
         (click)="getSpeed()"
         [disabled]="isChecking || isTracking"/>

  <input type="button"
         value="{{ isTracking ? 'Tracking' : 'Track' }}"
         (click)="trackSpeed()"
         [disabled]="isChecking || isTracking"/>
</div>
